.App {
  background-color: #282c34;
}

.toggle-description {
  text-align: left;
  margin-top: -25px;
  margin-left: 85px;
  color: #ddd;
}

.App-sidebar {
  padding-top: 10px;
  padding-left: 1000px;
  background-color: #282c34;
}

.App-description {;
  width: 500px;
  height: 320px;
  border: 1px solid #fff;
}

.App-warnings {
  text-align: left;
  margin-top: -55px;
  margin-left: 30px;
  color: #ddd;

}

.App-buttons {
  text-align: center;
  min-height: 48vmin;
  padding-top: 10px;

}

.App-logo {
  height: 20vmin;
  cursor: pointer;
  padding: 8px;
  margin: 2px;
  min-width: 64px;
  background: transparent;
  border-radius: 100%;
  border: 1px solid #282c34; 

  opacity: 0.6;
  transition:0.3s;
}

.App-logo:hover {
  cursor: pointer;
  opacity: 1;
  border-radius: 100%;
  border: 1px solid #BADA55;
}
