.App {
  text-align: center;
}

.App-toggle {
  background-color: #282c34;
}
}

.App-buttons {
  min-height: 48vmin;
  padding-top: 380px;
  padding-left: 1000px;
  background-color: #282c34;
}

.App-logo {
  height: 20vmin;
  cursor: pointer;
  padding: 8px;
  margin: 2px;
  min-width: 64px;
  background: transparent;
  border-radius: 100%;
  border: 1px solid #282c34; 

  opacity: 0.6;
  transition:0.3s;
}

.App-logo:hover {
  cursor: pointer;
  opacity: 1;
  border-radius: 100%;
  border: 1px solid #BADA55;
}
